.App {
  margin: 0;
  padding: 0;
}

.wrapper-wrapping {
  box-sizing: border-box;
  margin: 2rem auto 0;
  max-width: 1224px;
  padding: 1rem 3rem;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    border-color: var(--grey-black);
    border-style: dashed;
    border-width: 0;
    content: '';
    position: absolute;
  }

  &::before {
    border-top-width: 1px;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    width: 100vw;
  }

  &::after {
    border-left-width: 1px;
    left: 2rem;
    top: -2rem;
    height: 100%;
  }

  & > div > h2 {
    & ~ * {
      padding-left: 2rem;
    }
    & ~ ul {
      padding-left: 4rem;
    }
  }
}